body{
	background:#f1f2f4;
	padding:5px 0px 10px 20px;
	width:100%;
}

.row{
	margin-right: 0;
	margin-left: 0;
}

.action-panel, .work-area{
	min-height:400px;
	//border:1px #ccc solid;
	background:#fff;
	margin:15px;
	box-shadow:0 0 3px 3px #dce0e0;
}



#timeline {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    z-index: 50;
}
#outer_wrap {
    position: absolute;
    width: 1000%;
    z-index: 10;
}
#inner_wrap {
    display: inline-block;
}
.grid {
    width: 400px;
    height: 160px;
    margin: 10px 10px 0 10px;
    background: #CCC;
    float: left;
}

.work-area{
	position:relative;
}

.element{
	position:relative;
	height: 95px;
	width: 130px;
	border:1px solid black;
	border-radius:5px;
	float:left;
	margin:5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.element img{
  max-height:100%;
  max-width:100%;
  display:block;
  text-align:center;
}

.jpeg{
  background:url('../img/icons/jpeg.png')  center no-repeat;
  background-size: contain;
}

.png{
  background:url('../img/icons/png.png')  center no-repeat;
  background-size: contain;
}

.video{
  background:url('../img/icons/video.png')  center no-repeat;
  background-size: contain;
}

.pdf{
  background:url('../img/icons/pdf.png')  center no-repeat;
  background-size: contain;
}

.text{
  background:url('../img/icons/text.png')  center no-repeat;
  background-size: contain;
}

.unknownType{
  background:url('../img/icons/unknown.png')  center no-repeat;
  background-size: contain;
}

.element:hover::after{
  content:attr(data-title);
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  z-index:10;
  background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 11px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333;
}

.add-element:hover::after{
  content:none;
}

.add-element{
	background:url('../img/add-elem.png')  center no-repeat;
	background-size: contain;
}

#addFiles{
  display:none;
}



/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  font-size:1.5em;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}